<div id="main-page" class="flex-fill">
    <div class="header header--clean header--fixed py-4">
        <div class="container">
            <div class="d-flex">
                <a class="header-brand" href=".">
                    <img src="https://cdn.orbox.id/obox/assets/img/logo.png" class="header-brand-img" alt="Logo">
                    <span class="d-none d-md-inline">Orderbox</span>
                </a>
                <div class="d-flex order-lg-2 ml-auto">
                    <a href="/Account/Login" class="btn btn-secondary">Masuk</a>
                    <a href="/Account/Registration" class="btn btn-primary ml-2">Daftar</a>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-block">
        <div class="hero-block__picture">
            <img src="https://cdn.orbox.id/obox/assets/img/orboxapp-bg.jpg" alt="" class="hero-block__image d-none d-md-block">
        </div>
        <div class="hero-block__content">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-lg-8">
                        <div class="card in-hero-block">
                            <div class="card-body">
                                <h1 class="hero-block__title" style="color:#d4471d">Order Management</h1>
                                <h2 class="hero-block__subtitle">Sederhanakan proses berbelanja untuk pelanggan anda</h2>
                                <a href="/Account/Registration" class="btn btn-lg btn-cta mt-3">Daftar Sekarang</a>
                                <a href="https://api.whatsapp.com/send?phone=+6281703497555&text=Halo kak, saya mau bertanya tentang orderbox, apa itu orderbox dan bagaimana cara menggunakannya?" class="btn btn-lg btn-info mt-3" target="_blank">KONSULTASI GRATIS</a>
                                <p><small></small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block block--full-height block--benefits">
        <div class="container">
            <div class="row">
                <div class="col-10 offset-1 col-md-4 offset-md-0 mb-6">
                    <p class="block__subtitle"> Benefits</p>
                    <h2 class="block__title"> Apa yang anda dapatkan dari orderbox?</h2>
                    <p> Orderbox adalah aplikasi manajemen pesanan (order) berbasis cloud yang membantu memudahkan anda dalam mengatur penjualan online anda.</p>
                    <p> Aplikasi ini dapat diakses dari media manapun: dari komputer, tablet, maupun smartphone anda.</p>
                </div>
                <div class="col-10 offset-1 col-md-8 offset-md-0">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="card card--benefits card--transparent">
                                <span class="avatar avatar-lg avatar-teal">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-cloud"><path d="M18 10h-1.26A8 8 0 1 0 9 20h9a5 5 0 0 0 0-10z"></path></svg>
                                </span>
                                <p> Dapat diakses dari semua device tanpa menginstall aplikasi.</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card card--benefits card--transparent">
                                <span class="avatar avatar-lg avatar-green">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg>
                                </span>
                                <p> Mempercepat proses order anda. Hindari proses pencatatan order melalui aplikasi messenger yang rumit.</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card card--benefits card--transparent">
                                <span class="avatar avatar-lg avatar-orange">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-pen-tool"><path d="M12 19l7-7 3 3-7 7-3-3z"></path><path d="M18 13l-1.5-7.5L2 2l3.5 14.5L13 18l5-5z"></path><path d="M2 2l7.586 7.586"></path><circle cx="11" cy="11" r="2"></circle></svg>
                                </span>
                                <p> Atur Order dan Daftar Produk Anda dari satu halaman admin.</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card card--benefits card--transparent">
                                <span class="avatar avatar-lg avatar-yellow">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-gift"><polyline points="20 12 20 22 4 22 4 12"></polyline><rect x="2" y="7" width="20" height="5"></rect><line x1="12" y1="22" x2="12" y2="7"></line><path d="M12 7H7.5a2.5 2.5 0 0 1 0-5C11 2 12 7 12 7z"></path><path d="M12 7h4.5a2.5 2.5 0 0 0 0-5C13 2 12 7 12 7z"></path></svg>
                                </span>
                                <p> Halaman katalog jualan yang bisa anda bagikan kepada pelanggan untuk proses pemesanan yang sederhana dan efisien.</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card card--benefits card--transparent">
                                <span class="avatar avatar-lg avatar-cyan">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-settings"><circle cx="12" cy="12" r="3"></circle><path d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z"></path></svg>
                                </span>
                                <p> Halaman Report/Laporan jumlah penjualan, produk, dan omset dari jualan periode tertentu.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block block--center block--fix-image" style="background-image: url(https://cdn.orbox.id/obox/assets/img/landing-bg.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-10 offset-1 col-md-12 offset-md-0">
                    <h2 class="block__title text-uppercase">Coba Gratis</h2>
                    <h3 class="lead">orderbox memudahkan dalam mengatur pesanan anda </h3>
                    <a href="/Account/Registration" class="btn btn-cta btn-cta--transparent-hover">
                        Daftar Sekarang
                    </a>
                    <p><small></small></p>
                </div>
            </div>
        </div>
    </div>
</div>