@using Framework.Application.Presentation.HtmlHelperExtensions
@using Orderbox.Core.Resources.Common
@model Orderbox.Mvc.Areas.Agent.Models.Report.IndexModel

<div class="col-md-6">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title text-uppercase">@ReportResource.TopRevenueProduct (@Model.TenantCurrency)</h3>
        </div>
        <div class="card-body"
             data-url="/Agent/Report/GetProductTopRevenueChart/@Model.SideNavigation.MerchantId"
             doughnut-chart
             data-value-type="money">
            @Html.SimpleDivPlaceholder("spinnerpane")
            @Html.SimpleDivPlaceholder("chart-container")
        </div>
    </div>
</div>