@{
    ViewData["Title"] = "Home Page";
}

<div class="content-page">
    <main class="container my-4 flex-fill">
        <div class="page-title-box">
            <div class="row align-items-center">
                <div class="col-auto">
                    <!-- Page pre-title -->
                    <div class="page-pretitle">
                        Overview
                    </div>
                    <h2 class="page-title">
                        Dashboard
                    </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="alert alert-danger text-center">
                    <span class="display-3">coming soon...</span>
                </div>
            </div>
        </div>
    </main>
</div>
